.tooltip .tooltiptext3 {
  	visibility: hidden;
  	text-align: center;
  	border-radius: 6px;
  	border: 1px dotted rgba(255, 255, 255, 0.4);
  	padding: 5px;
	background-color:#202020;


  	/* Position the tooltip */
  	position: absolute;
  	z-index: 1;
  	left: 40%;
  	width:50%;
  	top:-500%;
}

.tooltip:hover .tooltiptext3 {
  	visibility: visible;
}