body {
	font-family: 'JetBrains Mono', monospace;
	color:white;
	background-color:#202020;
	width:85%;
	height:100vh;
	word-wrap: break-word;
}

.image {
    width: 100%;
}

a {
  	text-decoration: none;
  	border-bottom: 1px dotted rgba(255, 255, 255, 0.4);
  	display: inline-block;
  	color:white;
  transition: 0.3s;
}

a:hover{
	color:cyan;
	opacity:100%;
}

a:hover .pink {
	color:cyan;
}

a:hover .green {
	color:cyan;
}

a:hover .yellow {
	color:cyan;
}

a:hover .purple {
	color:cyan;
}

.tag {
	color:yellow;
}

.content {
	padding-left: 3%;
}

.sideNavContent a {
	margin-left: 5%;
  white-space: nowrap;
}

.pink {
	color:deeppink;
}

.green {
	color:chartreuse;
}

.yellow {
	color:yellow;
}

.purple {
	color:blueviolet;
}

.tooltip {
  	position: relative;
  	display: inline-block;
  	/*border-bottom: 1px dotted black;*/
}

.tooltip .tooltiptext {
  	visibility: hidden;
  	text-align: center;
  	border-radius: 6px;
  	border: 1px dotted rgba(255, 255, 255, 0.4);
	background-color:#202020;
  	padding: 5px;
  
  	/* Position the tooltip */
  	position: absolute;
  	z-index: 1;
  	left: 75%;
  	width: 30%;
}

.tooltip .tooltiptext2 {
  	visibility: hidden;
  	text-align: center;
  	border-radius: 6px;
  	border: 1px dotted rgba(255, 255, 255, 0.4);
	background-color:#202020;
  	padding: 5px;
  
  	/* Position the tooltip */
  	position: absolute;
  	z-index: 1;
  	left: 25vh;
  	width:50vh;
  	top:-300%;
}

.tooltip:hover .tooltiptext {
  	visibility: visible;
}

.tooltip:hover .tooltiptext2 {
  	visibility: visible;
}

#portfolioFilter a{
  transition: 0.3s;
	opacity:20%;
	border-bottom: 1px dotted rgba(255, 255, 255, 0.4);
}

#portfolioFilter a:hover{
	opacity:100%;
}

#portfolioFilter a.active {
	opacity:100%;
	border-bottom: 0px dotted rgba(255, 255, 255, 0.4);
}

.filterDiv {
	opacity:20%;
}

.show {
	opacity:100%;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #232323;
  overflow-x: hidden;
  padding-top: 1%;
  white-space: nowrap;
}

.sidebar a {
  padding-left: 5%;
  text-decoration: none;
  color: white;
  display: block;
  transition: 0.3s;
	border-bottom: none;
}

.sidebar a:hover {
	color:cyan;
}

#openBtn {
  cursor: pointer;
  background-color: #202020;
  color: rgba(150, 150, 150, 0.4);
  padding: 10px 15px;
  border: none;
  border-right: 1px dotted rgba(150, 150, 150, 0.4);
  margin-right:2%;
  margin-left:0%;
  margin-top:-1%;
  height: 100%;
  float:left;
}

#main {
  height: 100vh;
}

#text {
    padding-left:5%;
}
